UnderDev/SampleData/SampleExpanderData/SampleExpanderData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleExpanderData" targetNamespace="Expression.Blend.SampleData.SampleExpanderData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleExpanderData" type="tns:SampleExpanderData" />
  <xs:complexType name="SampleExpanderData">
    <xs:sequence>
      <xs:element name="Children" type="tns:Children" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Children">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChildrenItem" type="tns:ChildrenItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChildrenItem">
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>