S1Nyan.App.WP7/SampleData/ThreadSampleData/ThreadSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ThreadSampleData" targetNamespace="Expression.Blend.SampleData.ThreadSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ThreadSampleData" type="tns:ThreadSampleData" />
  <xs:complexType name="ThreadSampleData">
    <xs:attribute blend:Format="Name" name="Author" type="xs:string" />
    <xs:attribute name="No" type="xs:double" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
</xs:schema>